#map {
  height: 80%;
  position:relative
  float:left;
  width:75%;
}
/* Optional: Makes the sample page fill the window. */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*
#floating-panel {
  position: absolute;
  top: 6%;
  left: 55%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  left: 55%;
  padding: 5px;
  position: absolute;
  top: 6%;
  z-index: 5;
}
*/

#header{
  background-color: lightblue;
  width:100%;
  height:5%;
  text-align: left;
}
#sidebar-left{
  float:left;
  height: 95%;
  width:25%;
  background-color: lightgray;
  overflow: scroll;
  padding: 5px;
  box-sizing: border-box;
}
/*
#main{
  float:left;
  width:70%;
  background-color: lightgray;
}

#sidebar-right{
  float:left;
  width:15%;
  background-color: red;
}
*/
#footer{
  float:right;
  height: 15%;
  width: 75%;
  text-align: left;
  background-color: lightblue;
  overflow: scroll;
  box-sizing: border-box;
}
/*
#sidebar-left, #main, #sidebar-right{
  min-height: 600px       
}
*/
.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 8%;
    right: 4%;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.2);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #666;      
    text-align: center;
    display: block;
    margin: 0;
    padding: 10px;
    text-decoration: none;    
    border-bottom: 1px solid rgba(0,0,0,0.25);        
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f3f3f3;
    color: #333;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.parent {
  display: table;
  width: 100%;
  height: 40px;
}
#left, #right {
  display: table-cell;
  vertical-align: bottom;
  width: 50%;
  height: 100%;
}
#left {
  background: lightgray;
}
#right {
  background: lightgray;
}

.slices text {
  font: 10px;
  text-anchor: middle;
}